language: rust

sudo: required

services:
  - docker

cache: cargo

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

env:
  - RUST_TEST_THREADS=1

before_script:
  - docker run -p 51015:51015 --name zeebe -e ZEEBE_LOG_LEVEL=debug -d camunda/zeebe:SNAPSHOT

script:
  - cargo build --verbose
  - cargo test --verbose --features broker-it

after_failure:
  - docker logs zeebe
